.userSelect(@value) {
	-webkit-touch-callout: @value;
	-webkit-user-select: @value;
	-khtml-user-select: @value;
	-moz-user-select: @value;
	-ms-user-select: @value;
	user-select: @value;
}

.stripedField(@color, @bg1, @bg2) {
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	
	color: @color;
	font-size: .9em;
	margin: 0px auto;
	text-align: center;
	border-left: 1px solid black;
	line-height: 1em;
	padding: 5px 0;

	background-image: -webkit-linear-gradient(
		-45deg,
		@bg1 10%, transparent 10%,
		transparent 20%, @bg1 20%,
		@bg1 30%, transparent 30%,
		transparent 40%, @bg1 40%,
		@bg1 50%, transparent 50%,
		transparent 60%, @bg1 60%,
		@bg1 70%, transparent 70%,
		transparent 80%, @bg1 80%,
		@bg1 90%, transparent 90%,
		transparent 100%, @bg1 100%
	);
	background-color: @bg2;
}

table.kennel-debug
{
	@color: #000;

	text-align: left;
	font-size: 14px;
	background-color: #fff;
	color: #000;
	border: 1px solid @color !important;
	border-collapse: collapse;
	font-family: sans-serif;
	width: auto;
	margin: 10px;

	caption {
		text-align: left;
		background: @color;
		color: #fff;
	}

	.help {
		cursor: help;
		
		&:hover {
			color: #e50000 !important;
		}
	}

	th {
		text-align: left;
		background: #f9f9f9;
		font-weight: bold;
		font-size: 14px;

		small {
			font: 14px;
			float: right;
			margin-left: 10px;
		}
	}

	td {
		background: white;

		small { font-size: .9em; color: #777; }
	}

	th, td {
		vertical-align: top;
		padding: 5px 10px;
		border: 1px solid @color;
		position: relative;

		&.section-title {
			border-top: 3px solid;
		}

		&.value {
			font-size: 14px;

			&.edited {
				color: #5D863A;
				background: #f3f8ef;
			}
		}

		&.nested, &.set {
			padding: 0;
			background: #EEE;
			padding-left: 15px;

			table {
				margin: -1px -1px -1px 1px;
				width: 100%;
			}

			&.set { padding-left: 0; }

			div.purple-stripes { .stripedField(#884BBC, #e9ddf2, #fdfcfe); }
			div.red-stripes { .stripedField(#DC4117, #f9dfd8, #fef8f6); }
			div.green-stripes { .stripedField(#5D863A, #dfecd3, #f9fbf7); }
			div.blue-stripes { .stripedField(#479CCC, #dcecf5, #f1f8fb); }

			div.empty { .stripedField(#aaa, #e5e5e5, #ececec); }
			div.null { .stripedField(#aaa, #e5e5e5, #ececec); }
			div.recursion {
				.stripedField(#aaa, #e5e5e5, #ececec);
				&.stacked { margin: -1px -1px -1px 1px; border: 1px solid @color; }
			}
		}

		.kennel-toggle-collapse {
			cursor: pointer;
			position: absolute;
			top: 1px; right: -51px;
			text-align: center;
			width: 50px;
			padding: 2px 0 4px 0;
			margin: 0;
			border: 0 solid;
			font-size: 14px;
			background: #fffbf2;
			color: #624100;
			border-radius: 0 4px 4px 0;

			box-shadow: 1px 1px 1px rgba(9,6,0,.2);

			.userSelect(none);
			&:active { background: #fff5e2; top:2px; box-shadow: none; }
		}

		code {
			background: #FFE;
			border: 1px dotted #CCC;
			padding: 0 5px;
			font-family: Menlo, monospace;
		}

		span.invalid-mark {
			float: right;
			margin-left: 15px;
			font-weight: bold;
			background: #f6d5d5;
			color: #e50000;
			font-size: 14px;
			padding: 0 6px;
			border-radius: 14px;
			cursor: help;
			
			&:hover {
				background: #e50000;
				color: white;
			}
		}

		span.edited-mark {
			float: right;
			margin-left: 15px;
			font-weight: normal;
			background: #d1e4c1;
			color: #5D863A;
			font-size: 16px;
			line-height: 16px;
			padding: 0 4px;
			border-radius: 4px;
			cursor: help;
			
			&:hover {
				background: #5D863A;
				color: white;
			}
		}

		span.required-mark {
			float:right;
			font-weight: normal;
			color: #999;
			font-size: 14px;
			line-height: 14px;
			position: relative;
			border-radius: 4px;
			cursor: help;
			
			&:hover {
				color: #e50000;
			}
		}


		span.uid {
			margin-left: 5px;
			font-weight: normal;
			color: #aaa;
			font-variant: small-caps;
		}

		span.flag {
			float: right;
			margin-left: 15px;
			font-weight: bold;
			color: #aaa;
			font-variant: small-caps;

			&.inverted { 
				background: #bbb;
				color: white;
				padding: 0 4px;
				line-height: 1em;
				padding-bottom: 2px;
				border-radius: 4px;
			}
		}

	}
}

pre {
	font-family: Menlo, monospace;
	font-weight: normal;
	font-size: 13px;

	&.kennel-collapsible {
		max-height: 19px;
		max-width: 500px;
		color: #808080;
		overflow-x: hidden;
		overflow-y: hidden;
		position: relative;
		margin: -5px -10px;
		padding: 5px 10px;
		-webkit-mask-image: -webkit-gradient(linear, left 70%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));

		&.kennel-freeform {
			white-space: normal;
		}

		&.active {
			max-height: none;
			max-width: 750px;
			overflow-x: auto;
			color: #000;
			-webkit-mask-image: none;
		}
	}

}