table.kennel-debug {
  text-align: left;
  font-size: 14px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000000 !important;
  border-collapse: collapse;
  font-family: sans-serif;
  width: auto;
  margin: 10px;
}
table.kennel-debug caption {
  text-align: left;
  background: #000000;
  color: #fff;
}
table.kennel-debug .help {
  cursor: help;
}
table.kennel-debug .help:hover {
  color: #e50000 !important;
}
table.kennel-debug th {
  text-align: left;
  background: #f9f9f9;
  font-weight: bold;
  font-size: 14px;
}
table.kennel-debug th small {
  font: 14px;
  float: right;
  margin-left: 10px;
}
table.kennel-debug td {
  background: white;
}
table.kennel-debug td small {
  font-size: .9em;
  color: #777;
}
table.kennel-debug th,
table.kennel-debug td {
  vertical-align: top;
  padding: 5px 10px;
  border: 1px solid #000000;
  position: relative;
}
table.kennel-debug th.section-title,
table.kennel-debug td.section-title {
  border-top: 3px solid;
}
table.kennel-debug th.value,
table.kennel-debug td.value {
  font-size: 14px;
}
table.kennel-debug th.value.edited,
table.kennel-debug td.value.edited {
  color: #5D863A;
  background: #f3f8ef;
}
table.kennel-debug th.nested,
table.kennel-debug td.nested,
table.kennel-debug th.set,
table.kennel-debug td.set {
  padding: 0;
  background: #EEE;
  padding-left: 15px;
}
table.kennel-debug th.nested table,
table.kennel-debug td.nested table,
table.kennel-debug th.set table,
table.kennel-debug td.set table {
  margin: -1px -1px -1px 1px;
  width: 100%;
}
table.kennel-debug th.nested.set,
table.kennel-debug td.nested.set,
table.kennel-debug th.set.set,
table.kennel-debug td.set.set {
  padding-left: 0;
}
table.kennel-debug th.nested div.purple-stripes,
table.kennel-debug td.nested div.purple-stripes,
table.kennel-debug th.set div.purple-stripes,
table.kennel-debug td.set div.purple-stripes {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  color: #884bbc;
  font-size: .9em;
  margin: 0px auto;
  text-align: center;
  border-left: 1px solid black;
  line-height: 1em;
  padding: 5px 0;
  background-image: -webkit-linear-gradient(-45deg, #e9ddf2 10%, transparent 10%, transparent 20%, #e9ddf2 20%, #e9ddf2 30%, transparent 30%, transparent 40%, #e9ddf2 40%, #e9ddf2 50%, transparent 50%, transparent 60%, #e9ddf2 60%, #e9ddf2 70%, transparent 70%, transparent 80%, #e9ddf2 80%, #e9ddf2 90%, transparent 90%, transparent 100%, #e9ddf2 100%);
  background-color: #fdfcfe;
}
table.kennel-debug th.nested div.red-stripes,
table.kennel-debug td.nested div.red-stripes,
table.kennel-debug th.set div.red-stripes,
table.kennel-debug td.set div.red-stripes {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  color: #dc4117;
  font-size: .9em;
  margin: 0px auto;
  text-align: center;
  border-left: 1px solid black;
  line-height: 1em;
  padding: 5px 0;
  background-image: -webkit-linear-gradient(-45deg, #f9dfd8 10%, transparent 10%, transparent 20%, #f9dfd8 20%, #f9dfd8 30%, transparent 30%, transparent 40%, #f9dfd8 40%, #f9dfd8 50%, transparent 50%, transparent 60%, #f9dfd8 60%, #f9dfd8 70%, transparent 70%, transparent 80%, #f9dfd8 80%, #f9dfd8 90%, transparent 90%, transparent 100%, #f9dfd8 100%);
  background-color: #fef8f6;
}
table.kennel-debug th.nested div.green-stripes,
table.kennel-debug td.nested div.green-stripes,
table.kennel-debug th.set div.green-stripes,
table.kennel-debug td.set div.green-stripes {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  color: #5d863a;
  font-size: .9em;
  margin: 0px auto;
  text-align: center;
  border-left: 1px solid black;
  line-height: 1em;
  padding: 5px 0;
  background-image: -webkit-linear-gradient(-45deg, #dfecd3 10%, transparent 10%, transparent 20%, #dfecd3 20%, #dfecd3 30%, transparent 30%, transparent 40%, #dfecd3 40%, #dfecd3 50%, transparent 50%, transparent 60%, #dfecd3 60%, #dfecd3 70%, transparent 70%, transparent 80%, #dfecd3 80%, #dfecd3 90%, transparent 90%, transparent 100%, #dfecd3 100%);
  background-color: #f9fbf7;
}
table.kennel-debug th.nested div.blue-stripes,
table.kennel-debug td.nested div.blue-stripes,
table.kennel-debug th.set div.blue-stripes,
table.kennel-debug td.set div.blue-stripes {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  color: #479ccc;
  font-size: .9em;
  margin: 0px auto;
  text-align: center;
  border-left: 1px solid black;
  line-height: 1em;
  padding: 5px 0;
  background-image: -webkit-linear-gradient(-45deg, #dcecf5 10%, transparent 10%, transparent 20%, #dcecf5 20%, #dcecf5 30%, transparent 30%, transparent 40%, #dcecf5 40%, #dcecf5 50%, transparent 50%, transparent 60%, #dcecf5 60%, #dcecf5 70%, transparent 70%, transparent 80%, #dcecf5 80%, #dcecf5 90%, transparent 90%, transparent 100%, #dcecf5 100%);
  background-color: #f1f8fb;
}
table.kennel-debug th.nested div.empty,
table.kennel-debug td.nested div.empty,
table.kennel-debug th.set div.empty,
table.kennel-debug td.set div.empty {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  color: #aaaaaa;
  font-size: .9em;
  margin: 0px auto;
  text-align: center;
  border-left: 1px solid black;
  line-height: 1em;
  padding: 5px 0;
  background-image: -webkit-linear-gradient(-45deg, #e5e5e5 10%, transparent 10%, transparent 20%, #e5e5e5 20%, #e5e5e5 30%, transparent 30%, transparent 40%, #e5e5e5 40%, #e5e5e5 50%, transparent 50%, transparent 60%, #e5e5e5 60%, #e5e5e5 70%, transparent 70%, transparent 80%, #e5e5e5 80%, #e5e5e5 90%, transparent 90%, transparent 100%, #e5e5e5 100%);
  background-color: #ececec;
}
table.kennel-debug th.nested div.null,
table.kennel-debug td.nested div.null,
table.kennel-debug th.set div.null,
table.kennel-debug td.set div.null {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  color: #aaaaaa;
  font-size: .9em;
  margin: 0px auto;
  text-align: center;
  border-left: 1px solid black;
  line-height: 1em;
  padding: 5px 0;
  background-image: -webkit-linear-gradient(-45deg, #e5e5e5 10%, transparent 10%, transparent 20%, #e5e5e5 20%, #e5e5e5 30%, transparent 30%, transparent 40%, #e5e5e5 40%, #e5e5e5 50%, transparent 50%, transparent 60%, #e5e5e5 60%, #e5e5e5 70%, transparent 70%, transparent 80%, #e5e5e5 80%, #e5e5e5 90%, transparent 90%, transparent 100%, #e5e5e5 100%);
  background-color: #ececec;
}
table.kennel-debug th.nested div.recursion,
table.kennel-debug td.nested div.recursion,
table.kennel-debug th.set div.recursion,
table.kennel-debug td.set div.recursion {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  color: #aaaaaa;
  font-size: .9em;
  margin: 0px auto;
  text-align: center;
  border-left: 1px solid black;
  line-height: 1em;
  padding: 5px 0;
  background-image: -webkit-linear-gradient(-45deg, #e5e5e5 10%, transparent 10%, transparent 20%, #e5e5e5 20%, #e5e5e5 30%, transparent 30%, transparent 40%, #e5e5e5 40%, #e5e5e5 50%, transparent 50%, transparent 60%, #e5e5e5 60%, #e5e5e5 70%, transparent 70%, transparent 80%, #e5e5e5 80%, #e5e5e5 90%, transparent 90%, transparent 100%, #e5e5e5 100%);
  background-color: #ececec;
}
table.kennel-debug th.nested div.recursion.stacked,
table.kennel-debug td.nested div.recursion.stacked,
table.kennel-debug th.set div.recursion.stacked,
table.kennel-debug td.set div.recursion.stacked {
  margin: -1px -1px -1px 1px;
  border: 1px solid #000000;
}
table.kennel-debug th .kennel-toggle-collapse,
table.kennel-debug td .kennel-toggle-collapse {
  cursor: pointer;
  position: absolute;
  top: 1px;
  right: -51px;
  text-align: center;
  width: 50px;
  padding: 2px 0 4px 0;
  margin: 0;
  border: 0 solid;
  font-size: 14px;
  background: #fffbf2;
  color: #624100;
  border-radius: 0 4px 4px 0;
  box-shadow: 1px 1px 1px rgba(9, 6, 0, 0.2);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
table.kennel-debug th .kennel-toggle-collapse:active,
table.kennel-debug td .kennel-toggle-collapse:active {
  background: #fff5e2;
  top: 2px;
  box-shadow: none;
}
table.kennel-debug th code,
table.kennel-debug td code {
  background: #FFE;
  border: 1px dotted #CCC;
  padding: 0 5px;
  font-family: Menlo, monospace;
}
table.kennel-debug th span.invalid-mark,
table.kennel-debug td span.invalid-mark {
  float: right;
  margin-left: 15px;
  font-weight: bold;
  background: #f6d5d5;
  color: #e50000;
  font-size: 14px;
  padding: 0 6px;
  border-radius: 14px;
  cursor: help;
}
table.kennel-debug th span.invalid-mark:hover,
table.kennel-debug td span.invalid-mark:hover {
  background: #e50000;
  color: white;
}
table.kennel-debug th span.edited-mark,
table.kennel-debug td span.edited-mark {
  float: right;
  margin-left: 15px;
  font-weight: normal;
  background: #d1e4c1;
  color: #5D863A;
  font-size: 16px;
  line-height: 16px;
  padding: 0 4px;
  border-radius: 4px;
  cursor: help;
}
table.kennel-debug th span.edited-mark:hover,
table.kennel-debug td span.edited-mark:hover {
  background: #5D863A;
  color: white;
}
table.kennel-debug th span.required-mark,
table.kennel-debug td span.required-mark {
  float: right;
  font-weight: normal;
  color: #999;
  font-size: 14px;
  line-height: 14px;
  position: relative;
  border-radius: 4px;
  cursor: help;
}
table.kennel-debug th span.required-mark:hover,
table.kennel-debug td span.required-mark:hover {
  color: #e50000;
}
table.kennel-debug th span.uid,
table.kennel-debug td span.uid {
  margin-left: 5px;
  font-weight: normal;
  color: #aaa;
  font-variant: small-caps;
}
table.kennel-debug th span.flag,
table.kennel-debug td span.flag {
  float: right;
  margin-left: 15px;
  font-weight: bold;
  color: #aaa;
  font-variant: small-caps;
}
table.kennel-debug th span.flag.inverted,
table.kennel-debug td span.flag.inverted {
  background: #bbb;
  color: white;
  padding: 0 4px;
  line-height: 1em;
  padding-bottom: 2px;
  border-radius: 4px;
}
pre {
  font-family: Menlo, monospace;
  font-weight: normal;
  font-size: 13px;
}
pre.kennel-collapsible {
  max-height: 19px;
  max-width: 500px;
  color: #808080;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  margin: -5px -10px;
  padding: 5px 10px;
  -webkit-mask-image: -webkit-gradient(linear, left 70%, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
}
pre.kennel-collapsible.kennel-freeform {
  white-space: normal;
}
pre.kennel-collapsible.active {
  max-height: none;
  max-width: 750px;
  overflow-x: auto;
  color: #000;
  -webkit-mask-image: none;
}
