/* Stylesheet Reset */
* {
	margin: 0px;
	padding: 0px;
}

/* Layout */

a img {
	border: 0px;
}

body {
	background-color: #D6DBDD;
	color: #594C42;
	text-align: center;
	font-family: "Helvetica World", "Liberation Sans", "Trebuchet MS", Arial, sans-serif;
}

#wrapper {
	margin: 25px auto;
	width: 980px;
}

#header {
	margin-bottom: 25px;
}

#menu {
	width: 161px;
	float: left;
	list-style: none;
	padding-top: 33px;
}

	#menu li {
		display: block;
		height: 30px;
		text-align: right;
		margin: 0px 0px 3px 10px;
		background-color: #E9E9E9;
		border-right: 2px solid #DDDBD9;
		
		-moz-border-radius-topleft: 6px;
		-webkit-border-top-left-radius: 6px;
		-moz-border-radius-bottomleft: 6px;
		-webkit-border-bottom-left-radius: 6px;
	}
	
	#menu a {
		color: #666;
		text-decoration: none;
		margin-right: 10px;
		width: 140px;
		display: block;
		background-position: 10px center;
		line-height: 30px;
		background-repeat: no-repeat;
	}
	
	#menu a:hover {
		color: #17B3D1;
	}
	
	#menu li.selected {
		margin-left: 0px;
		background-color: #F0F0F0;
		width: 160px;
		position: relative;
		border-right: 1px solid #DDD;
	}
	
	#modules { background-image: url('../img/k_modules_ico.png'); }
	#database { background-image: url('../img/k_database_ico.png'); }
	#migrations { background-image: url('../img/k_migrations_ico.png'); }
	#settings { background-image: url('../img/k_settings_ico.png'); }
	#backup { background-image: url('../img/k_backup_ico.png'); }
	#admin-user { background-image: url('../img/k_admin_ico.png'); }
	
	#menu .selected a {
		color: #17B3D1;
		margin-right: 20px;
	}

#content {
	background-color: #FFF;
	width: 819px;
	min-height: 200px;
	float: left;
	text-align: left;
	padding-bottom: 15px;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	box-shadow: 0px 1px 1px #B6BABC;
	-moz-box-shadow: 0px 1px 1px #B6BABC;
	-webkit-box-shadow: 0px 1px 1px #B6BABC;
}
	
	#content ul, form, p {
		margin: 0px 30px;
	}
	
	h1 {
		text-align: left;
		padding: 2px 0px 0px 30px;
		font-size: 16px;
		line-height: 30px;
		font-weight: bold;
		color: #17B3D1;
		border-bottom: 1px solid #DDD;
		background-color: #F0F0F0;
		margin-bottom: 10px;
		
		-moz-border-radius-topleft: 4px;
		-webkit-border-top-left-radius: 4px;
		-moz-border-radius-topright: 4px;
		-webkit-border-top-right-radius: 4px;
	}
	
	a {
		color: #17B3D1;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}

#footer {
}

/* Elements */

.actions {
	border-top: 1px solid #DDD;
	padding: 10px 0px 10px 30px;
	background-color: #F0F0F0;
	position: relative;
	top: 15px;
	
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
}

.action {
	background-color: #1E9C6D;
	padding: 0px 10px;
	font-weight: bold;
	color: #FFF;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 2px;
}

.action:hover {
	text-decoration: none;
	color: #DFF2A7;
}

/* Tables */

table {
	border-spacing: 2px;
	margin: 15px 30px;
	font-size: 16px;
}

th {
	color: #FFF;
	background: #888;
	border-radius: 3px;
	padding: 2px 20px 0px 10px;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

td {
	border-bottom: 1px dotted #C9C1BB;
	padding: 2px 5px;
}

/* Messages */

.msg {
	padding: 5px 10px;
}

.msg.ok {
	background-color: #1E9C6D;
	color: #EDECEB;
}

.msg.error {
	background-color: #C33;
	color: #EDECEB;
	font-weight: bold;
}

/* Form Elements */
textarea {
	margin: 0px 10px;
	width: 785px;
	height: 500px;
	border: 1px solid #CCC;
	padding: 5px;
}

/* Login */
fieldset { padding: 15px; margin: 15px; }
fieldset label { display: block; margin-bottom: 10px; }
